.Mi-card{
    height: 100%;
    width: 100%;
}

.separar{
    padding: 20px;
    margin-top: 20%;
    background-color: antiquewhite;
    border-radius: 30px;
    border-style: ridge;
}

.separo{
    padding: 20px;
}

.Color-Boton{
    background-color: rgb(106, 236, 106);
}

.CenterText{
    text-align: center;
}